.project__title {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    color: black;
    font-size: 45px;
    border-bottom: 4px solid black;
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 50vh;
    padding: 3rem 1.5rem;
}

.flex {
    margin-top: 5em;
    display: flex;
    width: 90%;
}

.flex-child {
    box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
    width: 80vw;
    height: 25vh;
    margin: 1rem 1rem;
    border-radius: 12px;
}

.image__1 {
    background-image: url('../../img/fist.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.image__2 {
    background-image: url('../../img/two.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.image__3 {
    background-image: url('../../img/three.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.website {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    background-color: #141c3a;
    padding: .8rem;
    border: 3px solid #7510F7;
    color: white;
    border-radius: 9999px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.website:hover {
    background-color: #7510F7;
    border-color: 2px solid #7510F7;
}

.flex-child:hover .item-overlay.top {
    top: 0;
}

@media (max-width: 690px) {
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        height: 100vh;
    }
}

.media {
    border-radius: 12px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.media:hover {
    cursor: pointer;
}

.overlay {
    background-color: #141c3a;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: 0;
    transition: all ease-in-out 0.5s;
}

.media:hover .overlay {
    opacity: 1;
}

.image-details {
    color: white;
    font-size: 20px;
    z-index: 4;
    position: absolute;
    top: 100%;
    opacity: 0;
    transition: all ease-in-out 0.5s;
}

.media:hover .image-details {
    top: 40%;
    opacity: 1;
}

.image-details>a {
    margin-top: 50em !important;
}

@media only screen and (max-width: 900px) {
    .media {
        width: 100%;
        height: 100%;
    }
}