.about__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7510f7;
    height: 50vh;
    gap: 30px;
    padding: 3rem 1.5rem;
}

.about__title {
    text-align: center;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}

.about__paragraph {
    color: #fff;
    text-align: center;
    width: 50%;
    font-family: 'Public Sans', sans-serif;
    letter-spacing: 1px;
}

@media only screen and (max-width: 770px) {
    .about__title {
        font-size: .8rem !important;
    }

    .about__paragraph {
        font-size: 0.9em;
        width: 100%;
    }
}