.title__skill {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
    color: white;
    font-size: 45px;
    border-bottom: 4px solid white;
    text-align: center;
}

.skill__container {
    height: 70vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 1.5rem;

}

.skill__background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: #141c3a;
    margin: auto;
    border-radius: 10px;
    height: 8em;
}

.skill__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    font-size: 60px;
}

.fa-html5 {
    color: #e54d26;
}

.fa-css3 {
    color: #038fcb;
}

.fa-js {
    color: #efd81d;
}

.fa-react {
    color: #5ed3f3;
}

.fa-laravel {
    color: #f72f22;
}

.fa-html5:hover,
.fa-css3:hover,
.fa-js:hover,
.fa-react:hover,
.fa-laravel:hover,
.fa-github:hover {
    cursor: pointer;
    transform: translate(0, -10px);
    transition: all .2s ease-in-out;
}


@media only screen and (max-width: 770px) {
    .skill__background {
        background-color: transparent;
        width: 40%;
    }

    .fa-github {
        color: white;
    }

    .skill__item {
        display: flex;
        flex-wrap: wrap;
        font-size: 50px;
    }

    .skill__container {
        height: 100vh;
    }
}